<router-outlet />

<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">Profile</a>
      <a mat-list-item href="#">Settings</a>
      <a mat-list-item href="#">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<!-- <div class="topnav heading postbackgrndColor">
    <div class="responsive1">
        <button  mat-icon-button id = "menu" (click)= "toggle()" [ngClass]="{hideMenu: topNavConfig.hideMenu}"
        [@rotateButton]="state"> 
            <mat-icon [ngStyle]="topNavConfig.hamburgerStyles"> menu</mat-icon>
        </button>
    </div>
</div> -->