<div class="container">
    <!-- Tabs -->
    <div class="tabs">
      <button class="tab active">Overview</button>
      <!-- <button class="tab">Treemap</button>
      <button class="tab">Insights</button>
      <span class="learn-more">Learn more</span> -->
    </div>
  
    <!-- Charts Section -->
    <div class="charts">
      <!-- Equity Donut Chart -->
      <div class="chart">
        <h3>Account</h3>
        <canvas
          baseChart
          [data]="donutChartData"
          [options]="donutChartOptions"
          chartType="doughnut"
        ></canvas>
      </div>
  
      <!-- Sectors Donut Chart -->
      <!-- <div class="chart">
        <h3>Sectors</h3>
        <canvas
          baseChart
          [options]="donutChartOptions"
          type = "doughnut"
        ></canvas>
      </div> -->
  
      <!-- Stocks Donut Chart -->
      <!-- <div class="chart">
        <h3>Stocks</h3>
        <canvas
          baseChart
          [options]="donutChartOptions"
          type = "doughnut"
        ></canvas>
      </div> -->
    </div>
  </div>
  